<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woodle</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="app-container">
        <!-- Hint Icon Container -->
        <div id="hint-container">
            <span class="toolbar-icon" title="Hint" id="hint-icon"><i class="fas fa-lightbulb"></i></span>
           
        </div>  
        
        <!-- Main Toolbar -->
        <div id="toolbar">
            <!-- Icons for stats and settings -->
            <span class="toolbar-icon" title="Petunjuk Permainan" onclick="showPopup()">❓</span>
            <span class="toolbar-icon" title="Settings">⚙️</span>
        </div>
    
        <div id="game-container">
            <h1 style="font-weight: bold;text-align: center;">Wordle Indonesia</h1>
            <hr class="separator">
            <div id="grid"></div>
            <div id="keyboard"></div>
        </div>
    </div>

      <!-- Hint Modal -->
      <div id="hint-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="hint-message"></p>
        </div>
    </div>

    <!-- Notification Modal -->
<div id="intro-modal" class="modal">
    <div class="modal-content1">
        <span class="close-intro-button">&times;</span>
        <center><h2>Selamat Datang Di Game Wordle Kelompok 4 </h2> </center>
        <p>Anda memiliki tiga clue kesempatan yang tersedia untuk membantu Anda menebak kata yang benar dengan menekan icon💡pada sebelah kiri.         
        </p>
        <br>
        <p>Untuk cara bermain silahkan menekan icon❓</p>
    </br>   
       <center> <button id="start-game-btn" class="start-game-btn">Start Game</button> </center>
    </div>
</div>

<!-- Popup -->
<div id="gameInstructionsPopup" class="popup">
    <div class="container">
        <span class="close1" onclick="closePopup()">&times;</span>
        <h1 style="font-size: 24px; text-align: center; ">CARA MAIN</h1>
        <p>Tebak <strong>KATA</strong> tanpa imbuhan dalam 6 kali percobaan.</p>
        <p>Setiap tebakan harus berupa kata 5 huruf . Tekan tombol enter untuk mengirim.</p>
        <p>Setelah setiap tebakan, warna kotak akan berubah untuk menunjukkan seberapa dekat tebakan Anda dengan kata tersebut.</p>
        <hr>
        <div class="example">
            <p><strong>Contoh</strong></p>
            <div class="word">
                <div class="green">B</div>
                <div class="">I</div>
                <div class="">J</div>
                <div class="">A</div>
                <div class="">K</div>
            </div>
            <p>Huruf <strong>B</strong> ada di kata dan diposisi yang benar.</p>
            <div class="word">
                <div class="">B</div>
                <div class="yellow">A</div>
                <div class="">J</div>
                <div class="">A</div>
                <div class="">K</div>
            </div>
            <p>Huruf <strong>A</strong> ada dikata tetapi di posisi yang salah.</p>
            <div class="word">
                <div class="">B</div>
                <div class="">I</div>
                <div class="">J</div>
                <div class="">A</div>
                <div class="gray">N</div>
            </div>
            <p>Huruf <strong>N</strong> tidak ada didalam kata sama sekali.</p>
        </div>
        <hr>
        <p class="footer">Kata-kata baru akan tersedia setiap hari!</p>
    </div>
</div>



    <script src="static/script.js"></script>
</body>
</html>
